---
interface Props {

}
const li_class = "inline-block md:list-item md:h-16 text-2xl";
const a_class = "leading-[4rem] hover:tracking-widest transition-all duration-100 ease-in-out";
---

<aside class="md:flex overflow-y-auto">
    <div class="hidden md:block flex-none w-16 ml-2">
        <img src="/hypha-loop.svg"/>
        <img src="/hypha-loop.svg"/>
        <img src="/hypha-loop.svg"/>
        <img src="/hypha-loop.svg"/>
    </div>
    <nav class="md:w-24">
        <menu>
            <li class={li_class}><a class={a_class} href="/about">About</a></li>
            <li class={li_class}><a class={a_class} href="/things">Things</a></li>
            <li class={li_class}><a class={a_class} href="/blog">Blog</a></li>
            <li class={li_class}><a class={a_class} href="/links">Links</a></li>
        </menu>
    </nav>
</aside>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
    aside {
        font-family: "Macondo", cursive;
        font-weight: 400;
        font-style: normal;
    }
</style>
